<div class="Grid -center">
    <div class="Cell -1of12 chev-long bck" ng-click="prevSlide(displayedSlides.indexOf(slide.tile))">
        <i class="fa fa-chevron-left" aria-hidden="true" />
    </div>
    <div class="Cell -10of12 Grid -center">
        <div class="Cell -12of12" style="margin-top:8.333333em; padding-bottom:calc(100em * 1 / 24); text-align:center;">
            <h1 style="color:white;">How much support does your client need in the seating system?</h1>
            <p style="color:white;">Please choose one:</p>
        </div>
        <div class="Cell -6of12" style="text-align:center;">
            <input type="button" class="btn-big btn-default btn-cornered" value="Minimum" style="min-width:5em; max-width:10em; white-space:normal;" ng-click="setOption(slide.tile,0)" />
        </div>
        <div class="Cell -6of12" style="text-align:center;">
            <input type="button" class="btn-big btn-default btn-cornered" value="Maximum" style="min-width:5em; max-width:10em; white-space:normal;" ng-click="setOption(slide.tile,1)" />
        </div>
    </div>
    <div class="Cell -1of12"></div>
</div>