/*#region CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1.5vh;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

ul {
    list-style: none;
}
/*#endregion CSS Reset */
/*#region Font CSS */
/*#region Font-Family CSS */
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.ttc') format('truetype');
}

@font-face {
    font-family: 'avenir lt 35 light oblique';
    src: url('../fonts/avenir lt 35 light oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 35 light';
    src: url('../fonts/avenir lt 35 light.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 45 book oblique';
    src: url('../fonts/avenir lt 45 book oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 45 book';
    src: url('../fonts/avenir lt 45 book.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 55 oblique';
    src: url('../fonts/avenir lt 55 oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 55 roman';
    src: url('../fonts/avenir lt 55 roman.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 65 medium oblique';
    src: url('../fonts/avenir lt 65 medium oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 65 medium';
    src: url('../fonts/avenir lt 65 medium.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 85 heavy';
    src: url('../fonts/avenir lt 85 heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 86 heavy oblique';
    src: url('../fonts/avenir lt 86 heavy oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 95 black oblique';
    src: url('../fonts/avenir lt 95 black oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir lt 95 black';
    src: url('../fonts/avenir lt 95 black.ttf') format('truetype');
}

@font-face {
    font-family: 'neutratext-bold';
    src: url('../fonts/neutratext-bold.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-boldalt';
    src: url('../fonts/neutratext-boldalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-bolditalic';
    src: url('../fonts/neutratext-bolditalic.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-bolditalicalt';
    src: url('../fonts/neutratext-bolditalicalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-book';
    src: url('../fonts/neutratext-book.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-bookalt';
    src: url('../fonts/neutratext-bookalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-bookitalic';
    src: url('../fonts/neutratext-bookitalic.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-bookitalicalt';
    src: url('../fonts/neutratext-bookitalicalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-demi';
    src: url('../fonts/neutratext-demi.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-demialt';
    src: url('../fonts/neutratext-demialt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-demiitalic';
    src: url('../fonts/neutratext-demiitalic.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-demiitalicalt';
    src: url('../fonts/neutratext-demiitalicalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-light';
    src: url('../fonts/neutratext-light.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-lightalt';
    src: url('../fonts/neutratext-lightalt.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-lightia';
    src: url('../fonts/neutratext-lightia.otf') format('opentype');
}

@font-face {
    font-family: 'neutratext-lightitalic';
    src: url('../fonts/neutratext-lightitalic.otf') format('opentype');
}
/*#endregion Font-Family CSS */
h1, h2, h3, .title, .subhead,
h1 *, h2 *, h3 *, .title *, .subhead * {
    font-family: neutratext-demi !important;
}

h4, h5, h6, .caption,
h4 *, h5 *, h6 *, .caption * {
    font-family: neutratext-demi !important;
}

h1 {
    font-size: 5vh !important;
    margin-bottom: 0.67em;
}

h2 {
    font-size: 3.75vh !important;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 2.75vh !important;
    margin-bottom: 1em;
}

h4 {
    font-size: 2.5vh !important;
    margin-bottom: .25em;
}

span {
    font: inherit;
}

.title {
    font-size: 2.125vh !important;
    margin-bottom: .2em;
}

.subhead {
    font-size: 1.75vh !important;
    margin-bottom: .25em
}

.caption {
    font-size: 1.125vh !important;
    margin-top: .5em;
}
/*#endregion Font CSS */
/*#region Global CSS */
input[type=checkbox] {
    vertical-align: text-top;
}

label {
    display: inline-block;
    color: #004F7E;
    cursor: pointer;
    position: relative;
    padding: .1em 0;
}

    label span {
        display: inline-block;
        position: relative;
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        transform-origin: center;
        border: 2px solid #004F7E;
        border-radius: 50%;
        vertical-align: text-bottom;
        margin-right: 10px;
        transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
    }

        label span:before {
            content: "";
            width: 0px;
            height: 2px;
            border-radius: 2px;
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            top: 9px;
            left: 5px;
            transition: width 50ms ease 50ms;
            transform-origin: 0% 0%;
        }

        label span:after {
            content: "";
            width: 0;
            height: 2px;
            border-radius: 2px;
            background: #fff;
            position: absolute;
            transform: rotate(305deg);
            top: 13px;
            left: 6px;
            transition: width 50ms ease;
            transform-origin: 0% 0%;
        }

    label:hover span:before {
        width: 5px;
        transition: width 100ms ease;
    }

    label:hover span:after {
        width: 10px;
        transition: width 150ms ease 100ms;
    }

input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"]:checked + label span {
        background-color: #004F7E;
        transform: scale(1);
    }

        input[type="checkbox"]:checked + label span:after {
            width: 10px;
            background: #fff;
            transition: width 150ms ease 100ms;
        }

        input[type="checkbox"]:checked + label span:before {
            width: 5px;
            background: #fff;
            transition: width 150ms ease 100ms;
        }

    input[type="checkbox"]:checked + label:hover span {
        background-color: #004F7E;
        transform: scale(1.25);
    }

        input[type="checkbox"]:checked + label:hover span:after {
            width: 10px;
            background: #004F7E;
            transition: width 150ms ease 100ms;
        }

        input[type="checkbox"]:checked + label:hover span:before {
            width: 5px;
            background: #004F7E;
            transition: width 150ms ease 100ms;
        }

.btn-dark {
    color: #ffffff;
    background-color: #53565c;
    border-color: #373a3f;
}

    .btn-dark:focus,
    .btn-dark.focus {
        color: #ffffff;
        background-color: #286090;
        border-color: #122b40;
    }

    .btn-dark:hover {
        color: #ffffff;
        background-color: #286090;
        border-color: #204d74;
    }

    .btn-dark:active,
    .btn-dark.active,
    .open > .dropdown-toggle.btn-dark {
        color: #ffffff;
        background-color: #286090;
        border-color: #204d74;
    }

        .btn-dark:active:hover,
        .btn-dark.active:hover,
        .open > .dropdown-toggle.btn-dark:hover,
        .btn-dark:active:focus,
        .btn-dark.active:focus,
        .open > .dropdown-toggle.btn-dark:focus,
        .btn-dark:active.focus,
        .btn-dark.active.focus,
        .open > .dropdown-toggle.btn-dark.focus {
            color: #ffffff;
            background-color: #204d74;
            border-color: #122b40;
        }

    .btn-dark:active,
    .btn-dark.active,
    .open > .dropdown-toggle.btn-dark {
        background-image: none;
    }

    .btn-dark.disabled:hover,
    .btn-dark[disabled]:hover,
    fieldset[disabled] .btn-dark:hover,
    .btn-dark.disabled:focus,
    .btn-dark[disabled]:focus,
    fieldset[disabled] .btn-dark:focus,
    .btn-dark.disabled.focus,
    .btn-dark[disabled].focus,
    fieldset[disabled] .btn-dark.focus {
        background-color: #53565c;
        border-color: #373a3f;
    }

    .btn-dark .badge {
        color: #53565c;
        background-color: #ffffff;
    }

.container {
    width: 100%;
    max-width: 91.67vw;
    padding: 0.5%;
}

.header {
    width: 100%;
    background-color: #004F7E;
    color: #ffffff;
    padding: 4.167vh 0 2.167vh;
    margin-top: 4.167%;
}

    .header input, .header select {
        background-color: #53565c;
        border-color: #373a3f;
        color: #ffffff;
    }

.panel-heading {
    background-color: #004F7E !important;
}

.panel-title * {
    color: #ffffff;
    font-size: 2.75vh;
    font-family: 'neutratext-demi' !important;
}

    .panel-title *:hover, .panel-title *:focus {
        text-decoration-color: #ffffff;
    }

.panel-body {
    background-color: transparent;
}

    .panel-body > .Grid > div.Cell {
        padding: 0 0.5em;
    }

        .panel-body > .Grid > div.Cell:first-child {
            padding: 0 0.5em 0 0;
        }

        .panel-body > .Grid > div.Cell:last-child {
            padding: 0 0 0 0.5em;
        }

.select-group {
    display: flex !important;
    flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
}

    .select-group > select {
        margin: 0 0.5em;
    }

        .select-group > select:first-child {
            margin: 0 0.5em 0 0;
        }

        .select-group > select:last-child {
            margin: 0 0 0 0.5em;
        }

.content {
    width: 100%;
    height: 100vh;
    padding: 2.167vh 1.67vh;
}

.cancel li {
    position: relative;
}

    .cancel li:before {
        position: absolute;
        display: block;
        content: '\2022';
        text-indent: -999999px;
        left: -1.25em;
        bottom: 0.05em;
        width: 1.05em;
        height: 1.05em;
        background-image: url('../images/icons/Cancel_wht grey_512.png');
        background-size: 1em;
        background-repeat: no-repeat;
    }

.cancel li {
    cursor: pointer;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

li.active a.ng-binding {
    color: #FFF !important;
    background-color: #004F7E;
}

li a.ng-binding {
    color: #002855;
    background-color: none;
}

.nav-tabs .nav-link {
    border-color: #DCDDDE;
}

    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-color: #A7A9AC;
        font-weight: bold;
    }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #004F7E !important;
    font-weight: bold;
}

    .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        background-color: #004F7E;
    }
/*#endregion Global CSS*/
/*#region Mobile CSS */
@media only screen and (max-width: 960px) {
    .header .Grid {
        flex-direction: column;
    }

    .header .Cell {
        width: 100% !important;
    }

    .header .panel-body {
        color: #56565c;
    }

        .header .panel-body > .Grid > div.Cell {
            padding: 0.5em 0;
        }

            .header .panel-body > .Grid > div.Cell:first-child {
                padding: 0 0 0.5em 0;
            }

            .header .panel-body > .Grid > div.Cell:last-child {
                padding: 0.5em 0 0 0;
            }

    .header .select-group {
        display: flex !important;
        flex-direction: column !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
    }

        .header .select-group > select {
            margin: 0.5em 0;
        }

            .header .select-group > select:first-child {
                margin: 0 0 0.5em 0;
            }

            .header .select-group > select:last-child {
                margin: 0.5em 0 0 0;
            }
}
/*#endregion Mobile CSS */
