@{
    ViewData["Title"] = "Demo";
}
<meta name="viewport" content="width=device-width">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-animate/angular-animate.min.js"></script>
<script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="~/js/sliderApp.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/grd/src/grd.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<style type="text/css">
    .btn-big {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 10px 16px;
        font-size: 3em;
        line-height: 1.333333333;
        border-radius: 6px;
    }

        .btn-big.selected {
            border: 1px solid white;
            color: white;
            background-color: #009AC7;
        }

    .btn-cornered {
        border: none !important;
        border-radius: 0 !important;
    }

    #category {
        width: 92.5%;
        padding-left: 3.125%;
        background-color: transparent;
        border: none;
    }

        #category *:not(.btn), #category *:not(input), #category *:not(select) {
            border: none;
        }

    .parent-panel > div > h4 > a > span {
        font-size: 5vh;
    }

    #choice {
        margin-right: 8.33%
    }

    #filters {
        color: #0096d6;
    }

    .filter {
        border-top: 1px solid #0096d6;
        padding: 0.67em 0;
    }

        .filter ul {
            list-style-type: none;
        }

    .product-sec {
        padding: 2.5vh;
    }

        .product-sec tr > td {
            width: 33.3%;
        }

    .product-holder {
        padding: 1em;
    }

    .header {
        margin-top: initial !important;
    }

    .titlebar {
        width: 100%;
        height: 4.167vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        border-bottom: .333333em solid #004F7E;
    }

    .slide {
        width: 100%;
        height: 100vh;
    }

    .banner-hero {
        width: 100%;
        height: 83vh;
        background-color: #004F7E;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-titan {
        width: 100%;
        height: 83vh;
        background-color: #DCDDDE;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-prussian {
        width: 100%;
        height: 83vh;
        background-color: #002855;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-steel {
        width: 100%;
        height: 83vh;
        background-color: #A7A9AC;
        border-bottom: .333333em solid #004F7E;
    }

    h1 {
        font-size: 8.33vh !important;
        color: #009AC7;
    }

    .question {
        opacity: 0;
    }

        .question:first-child {
            opacity: 1;
        }

    .chev-long {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .chev-long > i {
            color: white;
            font-size: 2em;
        }

        .chev-long.bck:hover {
            background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.333));
        }

        .chev-long.fwd:hover {
            background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.333));
        }

    .img-bubble {
        width: 75%;
        padding-bottom: 75%;
        margin-left: 12.5%;
        border: .25em solid #002855;
        border-radius: 50%;
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0, 1.5, 1, 0.83);
        -webkit-transition: transform 1s;
        -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 0.83);
    }

        .img-bubble.main {
            width: 100%;
            padding-bottom: 100%;
            margin: unset;
        }
</style>

<html ng-app="sliderApp">
<body ng-controller="sliderApp">
    <div class="titlebar" style="z-index:3;">
        <img src="~/images/main_img/Permobil_BlueLogo_NoTag.png" style="margin:.5em 4.167em; height:2.5vh;" />
    </div>
    <div class="slide">
        <div class="banner-titan Grid -left" id="banner1">
            <div class="Cell -1of12"></div>
            <div class="Cell -6of12" style="padding-top:12.5em;">
                <img src="~/images/main_img/Permobil_BlueLogo_NoTag.png" style="height:8.333333em; margin-bottom:4.1666667em;" />
                <h1 style="padding-left:16.666667%;">Find the best bundle for your patient</h1>
                <div style="text-align:right; margin-top:12.5em;">
                    <input class="btn btn-link" style="text-decoration:underline;" value="See all bundles >>" />
                </div>
            </div>
            <div class="Cell -1of12"></div>
            <div class="Cell -2of12" style="padding-top:8.33em; text-align:center;">
                <div uib-carousel active="active" interval="5000" style="height:45vh; width:min-content; margin-bottom:8.33em;">
                    <div uib-slide ng-repeat="x in [].constructor(5) track by $index" index="$index">
                        <img src="~/images/main_img/blank_slide.png" style="height:45vh;" />
                        <div class="carousel-caption">
                            <p>Bundle #{{$index}}</p>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn-big btn-primary btn-cornered" value="Get Started" ng-click="gotoBanner(2)" />
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="banner-prussian Grid -center" id="banner2" style="position:relative;">
            <div id="slide{{$index}}" class="Cell -10of12 question" style="position:absolute;" ng-repeat="url in questionUrls track by $index">
                <div style="width:100%; margin-top:4.1666667em; border-bottom:2px solid white; text-align:center; vertical-align:middle;">
                    <h2 style="color:white; font-style:italic;">{{$index + 1}}  <span style="font-family:neutratext-light !important;">of</span>  2</h2>
                </div>
                <div ng-include="url"></div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div id="banner3" class="banner-steel Grid -middle -center">
            <div class="Cell -11of12">

            </div>
            <div class="Cell -11of12" style="position:relative;">
                <div class="Grid -middle -center">
                    <div style="width:100%; border:.25em solid #002855; border-radius:.25em; position:absolute; z-index: 0;"></div>
                    <div class="Cell -2of12" style="z-index: 1;">
                        <div class="img-bubble" ng-click="selectBubble(0)" ng-show="bundles[4]"></div>
                    </div>
                    <div class="Cell -2of12" style="z-index: 1;">
                        <div class="img-bubble" ng-click="selectBubble(1)" ng-show="bundles[2]">{{bundle_answers}}</div>
                    </div>
                    <div class="Cell -4of12" style="z-index: 1;">
                        <div class="img-bubble main" ng-click="selectBubble(2)" ng-show="bundles[0]">{{bundles}}</div>
                    </div>
                    <div class="Cell -2of12" style="z-index: 1;">
                        <div class="img-bubble" ng-click="selectBubble(3)" ng-show="bundles[1]"></div>
                    </div>
                    <div class="Cell -2of12" style="z-index: 1;">
                        <div class="img-bubble" ng-click="selectBubble(4)" ng-show="bundles[3]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>