@{
    ViewData["Title"] = "Demo";
}
<meta name="viewport" content="width=device-width">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-animate/angular-animate.min.js"></script>
<script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="~/js/sliderApp.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/grd/src/grd.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<style type="text/css">
    .btn-big {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 10px 16px;
        font-size: 3em;
        line-height: 1.333333333;
        border-radius: 6px;
    }

        .btn-big.selected {
            border: 1px solid white;
            color: white;
            background-color: #009AC7;
        }

    .btn-cornered {
        border: none !important;
        border-radius: 0 !important;
    }

    #category {
        width: 92.5%;
        padding-left: 3.125%;
        background-color: transparent;
        border: none;
    }

        #category *:not(.btn), #category *:not(input), #category *:not(select) {
            border: none;
        }

    .parent-panel > div > h4 > a > span {
        font-size: 5vh;
    }

    #choice {
        margin-right: 8.33%
    }

    #filters {
        color: #0096d6;
    }

    .filter {
        border-top: 1px solid #0096d6;
        padding: 0.67em 0;
    }

        .filter ul {
            list-style-type: none;
        }

    .product-sec {
        padding: 2.5vh;
    }

        .product-sec tr > td {
            width: 33.3%;
        }

    .product-holder {
        padding: 1em;
    }

    .header {
        margin-top: initial !important;
    }

    .titlebar {
        width: 100%;
        height: 4.167vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        border-bottom: .333333em solid #004F7E;
    }

    .slide {
        width: 100%;
        height: 100vh;
    }

    .banner-hero {
        width: 100%;
        height: 83vh;
        background-color: #004F7E;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-titan {
        width: 100%;
        height: 83vh;
        background-color: #DCDDDE;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-prussian {
        width: 100%;
        height: 83vh;
        background-color: #002855;
        border-bottom: .333333em solid #004F7E;
    }

    .banner-steel {
        width: 100%;
        height: 83vh;
        background-color: #A7A9AC;
        border-bottom: .333333em solid #004F7E;
    }

    h1 {
        font-size: 8.33vh !important;
        color: #009AC7;
    }

    .question {
        opacity: 0;
    }

        .question:first-child {
            opacity: 1;
        }

    .chev-long {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .chev-long > i {
            color: white;
            font-size: 2em;
        }

        .chev-long.bck:hover {
            background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.333));
        }

        .chev-long.fwd:hover {
            background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.333));
        }

    .img-bubble {
        position: relative;
        overflow: hidden;
        width: 75%;
        background-color: #fff;
        padding-bottom: 75%;
        margin-left: 12.5%;
        border: .25em solid #002855;
        border-radius: 50%;
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0, 1.5, 1, 0.83);
        -webkit-transition: transform 1s;
        -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 0.83);
    }

        .img-bubble.main {
            width: 100%;
            padding-bottom: 100%;
            margin: unset;
        }

    .img {
        z-index: 2;
    }

        .img.upper {
            max-height: 50%;
            position: absolute;
            bottom: 50%;
        }

        .img.left {
            max-width: 50%;
            position: absolute;
            right: 50%;
        }

        .img.right {
            max-width: 50%;
            position: absolute;
            left: 50%;
        }

        .img.bottom {
            max-height: 50%;
            position: absolute;
            top: 50%;
        }

        .img.centered {
            position: absolute;
            left: 25%;
        }

    .img-bubble.main > .img.upper.left:hover {
        z-index: 3;
        transition: 1s;
        transform: translate(50%,50%) scale(2);
    }

    .img-bubble.main > .img.upper.right:hover {
        z-index: 3;
        transition: 1s;
        transform: translate(-50%,50%) scale(2);
    }

    .img-bubble.main > .img.bottom:hover {
        z-index: 3;
        transition: 1s;
        transform: translate(0,-50%) scale(2);
    }

    i.tilt {
        height: 2em;
        width: 4em;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333));
        transform: skewX(30deg);
        border-radius: .5em;
        float: left;
        margin-left: 13.5em;
        margin-right: 1em;
    }

    i.recline {
        height: 2em;
        width: 4em;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6600), to(#FF6600), color-stop(.6,#FFCC99));
        transform: skewX(30deg);
        border-radius: .5em;
        float: left;
        margin-left: 13.5em;
        margin-right: 1em;
    }

    i.legs {
        height: 2em;
        width: 4em;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF00), to(#00FF00), color-stop(.6,#AAFFAA));
        transform: skewX(30deg);
        border-radius: .5em;
        float: left;
        margin-left: 13.5em;
        margin-right: 1em;
    }

    i.elevation {
        height: 2em;
        width: 4em;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AA0066), to(#AA0066), color-stop(.6,#FF99FF));
        transform: skewX(30deg);
        border-radius: .5em;
        float: left;
        margin-left: 13.5em;
        margin-right: 1em;
    }
</style>

<html ng-app="sliderApp">
<body ng-controller="sliderApp">
    <div class="titlebar" style="z-index:3;">
        <img src="~/images/main_img/Permobil_BlueLogo_NoTag.png" style="margin:.5em 4.167em; height:2.5vh;" />
    </div>
    <div class="slide">
        <div class="banner-titan Grid -left" id="banner1">
            <div class="Cell -1of12"></div>
            <div class="Cell -6of12" style="padding-top:12.5em;">
                <img src="~/images/main_img/Permobil_BlueLogo_NoTag.png" style="height:8.333333em; margin-bottom:4.1666667em;" />
                <h1 style="padding-left:16.666667%;">Find the best bundle for your patient</h1>
                <div style="text-align:right; margin-top:12.5em;">
                    <input class="btn btn-link" style="text-decoration:underline;" value="See all bundles >>" />
                </div>
            </div>
            <div class="Cell -1of12"></div>
            <div class="Cell -2of12" style="padding-top:8.33em; text-align:center;">
                <div uib-carousel active="active" interval="5000" style="height:45vh; width:min-content; margin-bottom:8.33em;">
                    <div uib-slide ng-repeat="x in [].constructor(5) track by $index" index="$index">
                        <img src="~/images/main_img/blank_slide.png" style="height:45vh;" />
                        <div class="carousel-caption">
                            <p>Bundle #{{$index}}</p>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn-big btn-primary btn-cornered" value="Get Started" ng-click="gotoBanner(2)" />
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="banner-prussian Grid -center" id="banner2" style="position:relative;">
            <div id="slide{{$index}}" class="Cell -10of12 question" style="position:absolute;" ng-repeat="url in questionUrls track by $index">
                <div style="width:100%; margin-top:4.1666667em; border-bottom:2px solid white; text-align:center; vertical-align:middle;">
                    <h2 style="color:white; font-style:italic;">{{$index + 1}}  <span style="font-family:neutratext-light !important;">of</span>  2</h2>
                </div>
                <div ng-include="url"></div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div id="banner3" class="banner-steel Grid -center" style="height:94.75vh;">
            <div class="Cell -11of12" style="position:relative;">
                <div style="width:100%; border:.25em solid #002855; border-radius:.25em; position:absolute; top:41%; z-index: 0;"></div>
                <div class="Grid -middle -center" style="margin-top:4.166667em;">
                    <div class="Cell -2of12" style="z-index: 1; text-align:center;">
                        <div class="img-bubble" ng-click="selectBubble(4, 0)" ng-show="show_bundles[4]">
                            <img class="img upper left" ng-src="/images/main_img/{{show_bundles[4].products[2].img_src}}" />
                            <img class="img upper right" ng-src="/images/main_img/{{show_bundles[4].products[1].img_src}}" />
                            <img class="img bottom centered" ng-src="/images/main_img/{{show_bundles[4].products[0].img_src}}" />
                        </div>
                        <h3>{{show_bundles[4].products[2].name}}/{{show_bundles[4].products[1].name}}/{{show_bundles[4].products[0].name}}</h3>
                    </div>
                    <div class="Cell -2of12" style="z-index: 1; text-align:center;">
                        <div class="img-bubble" ng-click="selectBubble(2, 1)" ng-show="show_bundles[2]">
                            <img class="img upper left" ng-src="/images/main_img/{{show_bundles[2].products[2].img_src}}" />
                            <img class="img upper right" ng-src="/images/main_img/{{show_bundles[2].products[1].img_src}}" />
                            <img class="img bottom centered" ng-src="/images/main_img/{{show_bundles[2].products[0].img_src}}" />
                        </div>
                        <h3>{{show_bundles[2].products[2].name}}/{{show_bundles[2].products[1].name}}/{{show_bundles[2].products[0].name}}</h3>
                    </div>
                    <div class="Cell -4of12" style="z-index: 1; text-align:center;">
                        <div class="img-bubble main" ng-click="selectBubble(0, 2)" ng-show="show_bundles[0]">
                            <img class="img upper left" ng-src="/images/main_img/{{show_bundles[0].products[2].img_src}}" />
                            <img class="img upper right" ng-src="/images/main_img/{{show_bundles[0].products[1].img_src}}" />
                            <img class="img bottom centered" ng-src="/images/main_img/{{show_bundles[0].products[0].img_src}}" />
                        </div>
                        <h3>{{show_bundles[0].products[2].name}}/{{show_bundles[0].products[1].name}}/{{show_bundles[0].products[0].name}}</h3>
                        <br />
                        <div style="text-align:left" ng-show="show_bundles[0].chair_func.includes('tilt')"><i class="tilt"></i><h4>Tilt</h4></div>
                        <div style="text-align:left" ng-show="show_bundles[0].chair_func.includes('recline')"><i class="recline"></i><h4>Recline</h4></div>
                        <div style="text-align:left" ng-show="show_bundles[0].chair_func.includes('legs')"><i class="legs"></i><h4>Power Legs</h4></div>
                        <div style="text-align:left" ng-show="show_bundles[0].chair_func.includes('elevation')"><i class="elevation"></i><h4>Elevation & Standing</h4></div>
                        <br />
                    </div>
                    <div class="Cell -2of12" style="z-index: 1; text-align:center;">
                        <div class="img-bubble" ng-click="selectBubble(1, 3)" ng-show="show_bundles[1]">
                            <img class="img upper left" ng-src="/images/main_img/{{show_bundles[1].products[2].img_src}}" />
                            <img class="img upper right" ng-src="/images/main_img/{{show_bundles[1].products[1].img_src}}" />
                            <img class="img bottom centered" ng-src="/images/main_img/{{show_bundles[1].products[0].img_src}}" />
                        </div>
                        <h3>{{show_bundles[1].products[2].name}}/{{show_bundles[1].products[1].name}}/{{show_bundles[1].products[0].name}}</h3>
                    </div>
                    <div class="Cell -2of12" style="z-index: 1; text-align:center;">
                        <div class="img-bubble" ng-click="selectBubble(3, 4)" ng-show="show_bundles[3]">
                            <img class="img upper left" ng-src="/images/main_img/{{show_bundles[3].products[2].img_src}}" />
                            <img class="img upper right" ng-src="/images/main_img/{{show_bundles[3].products[1].img_src}}" />
                            <img class="img bottom centered" ng-src="/images/main_img/{{show_bundles[3].products[0].img_src}}" />
                        </div>
                        <h3>{{show_bundles[3].products[2].name}}/{{show_bundles[3].products[1].name}}/{{show_bundles[3].products[0].name}}</h3>
                    </div>
                    <div class="Cell -12of12" style="text-align:center;">
                        <button class="btn btn-primary" ng-click="gotoBanner(4)">Order Bundle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div id="banner4" class="banner-prussian Grid -center" style="padding-top:4.166667em;">
            <h1>Bundle Order Form</h1>
            <div class="Cell -8of12">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "1624307",
                        formId: "25d71661-0925-4313-88c5-fa74665d0a83"
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>