<div class="Grid -center">
    <div class="Cell -1of12"></div>
    <div class="Cell -10of12 Grid -center">
        <div class="Cell -12of12" style="margin-top:8.333333em; padding-bottom:calc(100em * 1 / 24); text-align:center;">
            <h1 style="color:white;">Can your client do a weight shift independently?</h1>
            <p style="color:white;">Please choose one:</p>
        </div>
        <div class="Cell -6of12" style="text-align:center;">
            <input type="button" class="btn-big btn-default btn-cornered" ng-class="{selected: bundle_answers.weight_shift === 'yes'}" value="Yes" style="min-width:5em;" ng-click="setWeightShift('yes')" />
            <h4 style="color:white; padding-top:1.5em;">Your client is capable of...</h4>
        </div>
        <div class="Cell -6of12" style="text-align:center;">
            <input type="button" class="btn-big btn-default btn-cornered" ng-class="{selected: bundle_answers.weight_shift === 'no'}" value="No" style="min-width:5em;" ng-click="setWeightShift('no')" />
            <h4 style="color:white; padding-top:1.5em;">Your client is NOT capable of...</h4>
        </div>
    </div>
    <div class="Cell -1of12 chev-long fwd" ng-click="nextSlide($index)" ng-show="bundle_answers.weight_shift != 'init'">
        <i class="fa fa-chevron-right" aria-hidden="true" />
    </div>
</div>