<div class="modal-header">
    <h3 class="modal-title" id="modal-title">What Kind Of Product Are You Looking For?</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <input type="button" class="btn btn-success" style="padding:15px 24px; font-size:36px;" value="Product Bundles" />
        </div>
        <div class="col-xs-5">
            <input type="button" class="btn btn-info" style="padding:15px 24px; font-size:36px;" value="Single Products" />
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>