@{
	ViewData["Title"] = "Demo";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<link href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
<link href="~/lib/grd/grd.css" rel="stylesheet" />

<body class="container" ng-app="">
	<div class="header">
		<h1 style="padding-left:8.33%">Start My Search</h1>

	</div>
</body>